In [57]:
import os
import pandas as pd
import json

# Build the full path
file_path =  r'../../scraped_data/tweets_on_search.json'
try:
    data = pd.read_json(file_path)
except FileNotFoundError:
    print("File not found. Please check the path.")

In [58]:
from textblob import TextBlob

In [59]:
# Function to determine sentiment
def get_sentiment(tweet):
    blob = TextBlob(tweet)
    print(blob.sentiment.polarity)
    positive_sentiment = max(blob.sentiment.polarity, 0)
    positive_sentiment = round(positive_sentiment, 2)
    negative_sentiment = min(blob.sentiment.polarity, 0)
    negative_sentiment = round(negative_sentiment, 2)
    if positive_sentiment != 0:
        return "Positive",positive_sentiment
    if negative_sentiment != 0:
        return "Negative",negative_sentiment
    return "neutral" , round(blob.sentiment.polarity, 2)

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   username  4 non-null      object
 1   tweet     4 non-null      object
 2   url       4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes

In [65]:
data.head()

,username,tweet,url
0,PURPLE TICK,Absolutely loving the new coffee shop in town!...,https://x.com/FOODIE713160191/status/183767600...
1,Venkatesh,I'm really disappointed with the service at th...,https://x.com/iam_venky4/status/18383138708441...
2,PURPLE TICK,Absolutely loving the new coffee shop in town!...,https://x.com/FOODIE713160191/status/183767600...
3,Venkatesh,I'm really disappointed with the service at th...,https://x.com/iam_venky4/status/18383138708441...

In [66]:
def analyze_sentiment(text):
    blob = TextBlob(text)
    print(blob.sentiment.polarity)
    positive_sentiment = max(blob.sentiment.polarity, 0)
    positive_sentiment = round(positive_sentiment, 2)
    negative_sentiment = min(blob.sentiment.polarity, 0)
    negative_sentiment = round(negative_sentiment, 2)
    if positive_sentiment != 0:
        return "Positive",positive_sentiment
    return "Negative",negative_sentiment

In [62]:
text = '''
See the top losers, invest and get updated what's happening in the crypto market India's Largest Regional Retail Option Traders Summit. (BOTS) is a prestigious options trading event organized by Traders Gurukul. Held on the 2nd OR 3rd Sunday of every month, across top cities in India This functionality will provide users with ease of access navigation and enable create a new revenue line by generating leads of potential customers for brokers in a more integrated manner. Starlink satellites, launched by Elon MuskÃ¢â‚¬â„¢s SpaceX, are causing issues for astronomers. A new study, published Wednesday in Astronomy & Astrophysics, highlights the growing problem. The network, comprising over 6,300 satellites, delivers high-speed internet to remote locations. However, it also generates unintended electromagnetic radiation (UEMR), disrupting radio astronomy.Why Radio Astronomy MattersRadio astronomy focuses on studying space at radio frequencies. Unlike optical telescopes, which detect visible light, radio telescopes capture radio waves from space. Just like bright lights can overwhelm human eyes, UEMR from satellites can blind radio telescopes. Cees Bassa, from the Netherlands Institute for Radio Astronomy, explains the impact. Observing near a satellite is like spotting a faint star next to a full moon. Read Also:Ã‚Â Earth set to welcome a new mini-moon on September 29; key details revealed Benjamin Winkel, from the Max Planck Institute, elaborates further. Ã¢â‚¬Å›ItÃ¢â‚¬â„¢s blinding,Ã¢â‚¬Å¥ Winkel states. Radio telescopes become saturated with UEMR, much like eyes overloaded with light.Second-Generation Satellites Worsen the SituationThe study reveals that Starlink's newer satellites, less than a third of the fleet, emit 32 times more UEMR than the older ones. This problem exists despite SpaceX trying to reduce UEMR in its first-generation satellites. Winkel notes that while some improvements were made to earlier models, the new ones are significantly brighter. With satellite launches becoming more affordable, the issue could worsen. Estimates suggest up to 100,000 satellites may orbit Earth by 2030. In June 2023, UNOOSA estimated there were 11,330 satellites in orbit. Read Also:Ã‚Â Sunita Williams, stuck in space for months, takes command of the ISS once again as NASA prepares a rescue missionThe Need for RegulationExperts believe regulations for satellite emissions are essential. Current ground-based electronics, like cellphone towers, have limits on radio pollution. The same should apply to satellites. Winkel explains that while leaks are inevitable, the amount needs strict control. Currently, astronomers rely on goodwill agreements with companies like Starlink to manage satellite interference. Regulations, however, could provide more consistent protection. This rising interference signals the need for tighter control as the satellite population grows.
                               Discover the latest business news, Sensex, and Nifty updates. Obtain Personal Finance insights, tax queries, and expert opinions on Moneycontrol or download the Moneycontrol App to stay updated!
              Copyright Ã‚Â© e-Eighteen.com Ltd. All rights reserved. Reproduction of news articles, photos, videos or any other content in whole or in part in any form 
        or medium without express writtern permission of moneycontrol.com is prohibited. You are already a Moneycontrol Pro user.

'''
analyze_sentiment(text)

0.14989429175475688

('Positive', 0.15)

In [63]:
text = '''
get out
'''
analyze_sentiment(text)

0.0

('Negative', 0.0)

In [68]:
# Create new columns for sentiment analysis of the combined text
data[['sentiment', 'intensity']] = data['tweet'].apply(lambda x: pd.Series(analyze_sentiment(x)))

0.5676136363636364
-0.9375
0.5676136363636364
-0.9375

In [69]:
data.head()

,username,tweet,url,sentiment,intensity
0,PURPLE TICK,Absolutely loving the new coffee shop in town!...,https://x.com/FOODIE713160191/status/183767600...,Positive,0.57
1,Venkatesh,I'm really disappointed with the service at th...,https://x.com/iam_venky4/status/18383138708441...,Negative,-0.94
2,PURPLE TICK,Absolutely loving the new coffee shop in town!...,https://x.com/FOODIE713160191/status/183767600...,Positive,0.57
3,Venkatesh,I'm really disappointed with the service at th...,https://x.com/iam_venky4/status/18383138708441...,Negative,-0.94

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   username   4 non-null      object
 1   tweet      4 non-null      object
 2   url        4 non-null      object
 3   sentiment  4 non-null      object
 4   intensity  4 non-null      float64
dtypes: float64(1), object(4)
memory usage: 288.0+ bytes

In [81]:
sentiment_counts = data['sentiment'].value_counts()

# Calculate percentages
total_count = len(data)
positive_percentage = (sentiment_counts.get('Positive', 0) / total_count) * 100
negative_percentage = (sentiment_counts.get('Negative', 0) / total_count) * 100
positive_percentage = round(positive_percentage ,2)
negative_percentage = round(negative_percentage , 2)


negative_percentage , positive_percentage

(np.float64(50.0), np.float64(50.0))

In [76]:
# Create a list of dictionaries in the desired format
json_list = []
for _, row in data.iterrows():
    json_list.append({
        "user_id" : row['username'],
        'url': row['url'],
        'tweet': row['tweet'],
        'sentiment': row['sentiment'],
        'intensity': row['intensity']
    })

In [82]:
json_list.append({
    "positive_percentage" : positive_percentage,
    "negative_percentage" : negative_percentage
})

In [83]:
# Convert to JSON string
json_output = json.dumps(json_list, indent=4)

# Save to a JSON file
file_path = r"..\..\final_data\tweets_on_posts.json"
with open(file_path, 'w') as json_file:
    json_file.write(json_output)